/*Estilo Header y Footer*/
#header.small { height: 50px; font-size: 100%;}
#header.small img{ width: 50px; height: 60px; margin-top: -10px;float:left;}

#headernav, a, img, li,form{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 15px;
  margin-right: 14px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
	color: white;
}

/*Estilo Seccion principal texto*/
.principal{
	font-family: Madame-Klara;
	color: white;
	background-color: rgba(0, 0, 0, 0.69);
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
	border-radius: 15px;
	text-align: center;
}

.principal p{
	font-size: 20px;
}

/*Estilo tabla*/
.tabla-head{
	background-color: #4d4d4d;
	color: white;
}

.blanco{
	background-color: white;
}

/*Fondo para todas las vistas*/
body{
	background-image: url("../imagenes/fondo.png");
	background-color: lightgrey;
	padding-top: 160px;
}

.body-admin{
	padding-top: 50px;
}

/*Estilo Footer*/
.social{
	margin-bottom: 20px;
	font-size: 1.4em;
	text-align: left;
	padding-left: 20px;
}

#suscribirse{
	margin-bottom: 5px;
}


/*Fuente*/
@2ont-face {
font-family: "Madame-Klara";
src: url
(fonts/MadameKlara.ttf) format("truetype");
}

/*Carrusel*/
.carousel-inner { text-align: center; padding-bottom: 20px;}
.carousel .item > img { display: inline-block; }

.center{
	text-align: center;
}

/*Formulario cantidad de productos*/
.cantidad-form {
	width: 35px;
	text-align: center;
}

/*Imagenes muestra detalle-producto*/
.img-principal{
	max-width: 690px;
	max-height: 450px;
	margin-bottom: 5px; 
}

.img-mini{
	max-width: 110px;
	max-height: 145px;
	margin-bottom:5px;
}

#detalle{
	background-color: rgba(0, 0, 0, 0.69);
	color: rgb(117, 117, 117);
}
/* ESTILOS USADOS EN E FORMULARIO DE INICIO DE SESIÓN */

.obligatorio{
	color: red;
}


#contacto{
	color: white !important;
	padding-top: 30px !important;
}

#contactol{
	color: white !important;
}

#recupera{
	color: white !important;
	padding-top: 30px !important;
}

#recuperal{
	color: white !important;
}

/* REGLAS PARA EL FORMULARIO DE REGSTRO */
.registro{
	padding: 10px;
	margin-bottom: 10px;
	background-color: #4C4C54;
}

.formtext{
	color: #D8D8D8;
}

input{
	margin-bottom: 5px;
}

.resalta:focus{
	border: 2px solid #222225;
}

.botonregistro{
	border: 1px solid black;
	background-color: #222225;
	margin: 5px 0;
}

.botonregistro:hover{
	border: 1px solid black;
	background-color: #30302D;
}

/* REGLAS PARA LA TABLA DE EDICIÓN DE ARTÍCULOS DEL ADMINISTRADOR */

#itemadmintable{
	text-align: center;
}

.previewdiv{
	border-bottom: 1px solid #D8D8D8;
}

#itemadmintable thead, #coleccionadmin thead{
	background-color: grey;
}

#itemadmintable th, #itemadmintable input, #coleccionadmin th, #coleccionadmin input{
	text-align: center;
}

#itemadmintable img{
	width: 72px;
	height: 72px;
}

.blackbtn{
	border: 1px solid black;
	background-color: #222225;
	margin: 5px 0;
}

.blackbtn:hover{
	border: 1px solid black;
	background-color: #30302D;
}

#itemadmintable button, #busqueda button, #crear button{
	padding: .3pt;
	font-size: 8pt;
	width: 72px;
	height: 30px;
}

#busqueda button, #crear button{
	margin-top: 25px;
}

.mov{
	float: left;
	margin-left: 5px;
}

.limpia{
	clear: both;
}

.limpia-derecha{
	clear: left;
}

.ital{
	font-style: italic;
}

.bol{
	font-weight: bold;
}

#mensajebusqueda{
	margin-top: 20px;
	margin-bottom: 10px;
}

.admin-edit-paneltitle{
	color: white;
	font-weight: bold;
}

.admin-edit-panel-heading{
	padding: 10px 15px;
  	border-bottom: 1px solid transparent;
  	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
	background-color: #30302D;
}

#admin-header-eliminar{
	background-color: #8A0808;
}

.nonresize{
	resize: none;
}

#admin-actualizar{
	margin-bottom: 25px;
}

.warning-btn{
	border: 1px solid black;
	background-color: #8A0808;
	margin: 5px 0;
}

.warning-btn:hover{
	border: 1px solid black;
	background-color: #A30A0A
}

.cancelado{
	font-weight: bold;
	color: #A30A0A;
}

.resumen{
	color: black;
}