<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vestiario</title>
	<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilo.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

</head>
<body class="body-admin">

	@@AdminHeader@@
	<script  type="text/javascript">
		$(document).ready(function(){
			$('.dropdown-menu').find('form').click(function (e) {
        		e.stopPropagation();
			});
		});
		
		$(window).resize(function () { 
    		$('body').css('padding-top', parseInt($('#main-navbar').css("height"))+10);
		});
		$(window).load(function () { 
		    $('body').css('padding-top', parseInt($('#main-navbar').css("height"))+10);        
		});
    </script>

	<div class="container " id="edicionbanner">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<img class="col-lg-1 col-md-1 col-xs-2"src="imagenes/blanco-mini.png" alt="">
				<h1 class="principal col-lg-10 col-md-10 col-xs-8 ">Administrar Colecciones</h1>
				<img class="col-lg-1 col-md-1 col-xs-2"src="imagenes/blanco-mini.png" alt="">
			</div>
		</div>
	</div>

	<div class="container well" id="ediciontabla">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 center">

				<div class="panel panel-default">
					<div class="admin-edit-panel-heading">
						<h3 class="panel-title admin-edit-paneltitle">Agregar colección</h3>
					</div>

					<div class="panel-body">
						<form action="?ctl=admin&act=crearColeccion" method="POST" id="crear" enctype="multipart/form-data">
							<label for="nombrencoleccion">Nombre de la nueva colección</label>
							<input name="Nombre" type="text" class="form-control resalta" id="nombrencoleccion">

							<label for="categoriancoleccion">Categoría de la nueva colección</label>
							<select id="categoriancoleccion" name="Categoria" class="form-control resalta">
								<option selected disabled value="0"> </option>
								<option value="H">Hombre</option>
								<option value="M">Mujer</option>
							</select>

							<label for="categoriancoleccion">Descripción</label>
							<textarea id="descripcionncoleccion" name="Descripcion" type="text" class="form-control resalta"></textarea>
							</br>
							<div>
								<label for="imagenncoleccion">Imagen de la nueva colección</label>
								<input id="imagenncoleccion" name="Imagen" type="file" class="btn btn-lg btn-primary blackbtn">
							<div class="center">
								<button type="submit" class="btn btn-lg btn-primary blackbtn">Aceptar</button>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="admin-edit-panel-heading">
						<h3 class="panel-title admin-edit-paneltitle">Listar colecciones</h3>
					</div>

					
				</div>

				<form id="elimina-colecciones">
				<table id="coleccionadmin" class="table">
					<thead>
	
						<th>Nombre</th>
						<th>Categoría</th>
						<th>Objetos</th>
						<th></th>
					</thead>
					<tr>
						<td> <input type="text" value="Niñas colegialas" class="form-control resalta"></input> </td>
						<td>
							<select class="form-control resalta">
								<option value="H">Hombre</option>
								<option selected value="M">Mujer</option>
							</select>
						</td>
						<td>12</td>
						<td> <a class="btn btn-primary blackbtn">Editar</a> </td>
					</tr>
				</table>
					<p>Solo podrás eliminar colecciones que no tengan artículos asignados</p>
					<button id="admin-alta" type="button" class="btn btn-primary blackbtn" style="margin-bottom:20px">Actualizar</button>
				</form>

				</div>
		</div>
	</div>

	
</body>
</html>