 <tr>
	<td class="col-sm-8 col-md-6">
		<div class="media">
			<a class="thumbnail pull-left" href="?ctl=productos&act=detalleProducto&id=@@IdProducto@@"> <img class="media-object" src="imagenes/@@ImgProducto@@" style="width: 72px; height: 72px;"> </a>
			<div>
				<h4><a href="?ctl=productos&act=detalleProducto&id=@@IdProducto@@">@@NombreProducto@@</a></h4>
				<h5>Colección <a href="?ctl=productos&id=@@IdColeccion@@">@@NombreColeccion@@</a></h5>
				<span>Talla: </span><span class="text-@@Status@@"><strong>@@Talla@@</strong></span>
			</div>
		</div>
	</td>
	<td class="col-sm-1 col-md-1" style="text-align: center">
	<strong>@@Cantidad@@</strong>
	</td>
	<td class="col-sm-1 col-md-1 text-center"><strong>$@@PrecioUnitario@@</strong></td>
	<td class="col-sm-1 col-md-1 text-center"><strong>$@@Importe@@</strong></td>
	<td class="col-sm-1 col-md-1">
	<a href="?ctl=carrito&act=quitar&id=@@IdProductoEliminar@@" class="btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span> Remover
	</a></td>
</tr>