<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vestiario</title>
	<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/estilo.css">

</head>
<body>

	@@Header@@

    <script type="text/javascript">
    	$(document).on("scroll",function(){
    		if($(document).scrollTop()>150){
        		$("#header").addClass("small");
    		} else{
        		$("#header").removeClass("small");
    		}
		});
	</script>

	<script type="text/javascript">
		nombreVal=0;
		correoVal=0;
		apeVal=0;
		cpVal=0;
		calleVal=0;
		botonVal=0;

		function letras(e){
			tecla = (document.all) ? e.keyCode : e.which;
			console.log(tecla);
			if (tecla==8) return true;
			if (tecla==109) return true;
			if (tecla==32) return true;
			if (e.ctrlKey && tecla==86) { return true};
			if (e.ctrlKey && tecla==67) { return true};
			if (e.ctrlKey && tecla==88) { return true};
			if (tecla>=97 && tecla<=111) { return false};
			patron = /[a-zA-Z]/;
			te = String.fromCharCode(tecla);
			console.log(patron.test(te));
			if (patron.test(te)) { 
				return true;
			}
			return false;	
		}
		function validar(){
			var nombre=$("#nombre");
			var correo=$("#inputEmail");
			var ape=$("#apellido");
			var calle=$("#calle");
			var cp=$("#cp");
			
			if(nombre.val() == null || nombre.val().length == 0 || !isNaN(nombre.val())){
				if(nombreVal!=1){
					errorNombre=$('<div/>',{'class': 'alert alert-danger'});
					errorNombre.text("Campo nombre vacio o valor es un numero");
					errorNombre.insertAfter(nombre);
				}
					nombreVal=1;
			}
			else{
				if(nombreVal==1)
					errorNombre.remove();
				nombreVal=0;
			}
			if(ape.val() == null || ape.val().length == 0 || !isNaN(ape.val())){
				if(apeVal!=1){
					errorape=$('<div/>',{'class': 'alert alert-danger'});
					errorape.text("Campo apellido vacio o valor es un numero");
					errorape.insertAfter(ape);
				}
					apeVal=1;
			}
			else{
				if(apeVal==1)
					errorape.remove();
				apeVal=0;
			}
			if (correo.val()!=""){
			if( !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/.test(correo.val()))){
				if(correoVal!=1){
					errorCorreo=$('<div/>',{'class': 'alert alert-danger'});
					errorCorreo.text("La sintaxis del email no es válido");
					errorCorreo.insertAfter(correo);				
				}
					correoVal=1;
				}
			else{
					if(correoVal==1)
						errorCorreo.remove();
					correoVal=0;
			}
			}

			if(calle.val() == null || calle.val().length == 0 || !isNaN(calle.val())){
				if(calleVal!=1){
					errorcalle=$('<div/>',{'class': 'alert alert-danger'});
					errorcalle.text("Campo calle vacio");
					errorcalle.insertAfter(calle);
				}
					calleVal=1;
			}
			else{
				if(calleVal==1)
					errorcalle.remove();
				calleVal=0;
			}
			if(cp.val() == null || cp.val().length == 0 || !isNaN(cp.val())){
				if(cpVal!=1){
					errorcp=$('<div/>',{'class': 'alert alert-danger'});
					errorcp.text("Codigo postal vacio");
					errorcp.insertAfter(cp);
				}
					cpVal=1;
			}
			else{
				if(cpVal==1)
					errorcp.remove();
				cpVal=0;
			}
		}
		function verificaForm(){
			validar();
			if(nombreVal==1 || apeVal==1 || correoVal==1 || cpVal==1 || calleVal==1){
				if(botonVal!=1){
					errorBoton=$('<div/>',{'class': 'alert alert-danger'});
					errorBoton.text("Hay campos con errores");
					errorBoton.insertAfter($("button"));}
				botonVal=1;
				return false;
			}
				if(botonVal==1)
					errorBoton.remove();
				botonVal=0;
				return true;
		}
	</script>
	
	<!-- MARCA -->

	<div class="container ">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<img class="col-lg-1 col-md-1 col-xs-2"src="imagenes/blanco-mini.png" alt="">
				<h1 class="principal col-lg-10 col-md-10 col-xs-8 ">Datos de Envio</h1>
				<img class="col-lg-1 col-md-1 col-xs-2"src="imagenes/blanco-mini.png" alt="">
			</div>
		</div>

		<div class="row">
			
			<div>
				<form class="registro" onsubmit="return verificaForm()">
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<label class="formtext">Nombre</label>
		        				<input type="text"  class="form-control resalta" placeholder="Nombre" id="nombre" onChange="validar()" onkeydown="return letras(event)">

		        			<label class="formtext">Apellido</label>
		        				<input type="text"  class="form-control resalta" placeholder="Apellido" id="apellido" onChange="validar()" onkeydown="return letras(event)">

							<label for="inputEmail" class="formtext">E-mail</label>
		        				<input type="email" id="inputEmail" class="form-control resalta" placeholder="E-mail" onChange="validar()" required>

		        				<label for="telefono" class="formtext">Telefono</label>
		        				<input type="text" id="telefono" class="form-control resalta" placeholder="E-mail" onChange="validar()" required>
	        			</div>	
						<div class="col-md-4 col-xs-6">
							<label class="formtext">Pais</label>
		        				<select type="text"  class="form-control resalta" placeholder="Pais"></select>

		        			<label class="formtext">Estado</label>
		        				<select type="text"  class="form-control resalta" placeholder="Estado"></select>

							<label class="formtext">Ciudad</label>
		        				<select type="text"  class="form-control resalta" placeholder="Ciudad"></select>

		        			<label class="formtext">Calle</label>
		        				<input type="text"  class="form-control resalta" placeholder="Calle" id="calle" onChange="validar()">
						</div>
						<div class="col-md-4 col-xs-12">	
		        			<label class="formtext">Codigo Postal</label>
		        				<input type="text"  class="form-control resalta" placeholder="Codigo Postal" id="cp" onChange="validar()">
		        			<div class="center">
							<button type="submit" class="btn btn-lg btn-primary botonregistro" onClick="validarForm()">Continuar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- MARCA -->

	@@Footer@@
	
</body>
</html>