<script>
$(window).load(function(){
	$('#suscribirModal').modal('show');
});
</script>
<div class="modal" id="suscribirModal">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h4 class="modal-title">Suscripción</h4>
		</div>
		<div class="modal-body">
		   <p>@@Error@@</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary close" data-dismiss="modal" aria-hidden="true">Cerrar</button>
		</div>
	  </div>
	</div>
</div>