<a data-toggle="modal" href="#logModal" class="btn btn-success">Checkout <span class="glyphicon glyphicon-play"></span></a>
<div class="modal" id="logModal">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h4 class="modal-title">Lo siento, debes iniciar sesión para continuar</h4>
		</div>
		<div class="modal-body">
		   <form action="?ctl=home&act=mostrarIndice" method="POST" id="sesion" role="search">
				<div class="form-group">
					<input name="sessionuser" type="email" class="form-control input-sm" placeholder="ejemplo@dominio.com">
				</div>
				<div class="form-group">
					<input name="sessionpassword" type="password" class="form-control input-sm" placeholder="Contraseña">
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Iniciar sesion</button>
			</form>
		</div>
		<div class="modal-footer">
		  <a href="?ctl=home&act=recuperar" data-dismiss="modal" class="btn">Recuperar Contraseña</a>
		  <a href="?ctl=home&act=registrar" class="btn btn-primary">Registrarse</a>
		</div>
	  </div>
	</div>
</div>