<tr>
	<td class="col-sm-4 col-md-2">
	<div class="media">
		<a class="thumbnail pull-left" href="?ctl=producto&act=detalleProducto&id=@@IdProducto@@"> <img class="media-object" src="imagenes/@@ImgProducto@@" style="width: 72px; height: 72px;"> </a>
		<div class="pull-left">
			<h4>@@NombreProducto@@ - @@Talla@@</h4>
			<h5>Colección: @@NombreColeccion@@</h5>
		</div>
	</div>
	</td>
	<td class="col-sm-1 col-md-1" style="text-align: center">
	<span>@@Cantidad@@</span>
	</td>
	<td class="col-sm-1 col-md-1 text-center"><strong>$@@PrecioUnitario@@</strong></td>
	<td class="col-sm-1 col-md-1 text-center"><strong>$@@Importe@@</strong></td>
</tr>