<?php
	echo '
	<!--Footer-->
	<div class="container-fluid navbar-inverse ">
		<div class="row"> 
			<footer>
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
					<a class="btn btn-link btn-lg" href="https://www.facebook.com/">
						<i class="fa fa-facebook-square fa-stack-2x social"> Facebook</i>
					</a>
				</div>
				
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4">
						<a class="btn btn-link btn-lg" href="https://twitter.com/">
							<i class="fa fa-twitter-square fa-stack-2x social"> Twitter</i>
						</a>
				</div>

				<div class="col-lg-4 col-lg-offset-4 col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
					<div id="suscribirse">	
						<h3>Suscribirse</h3>
						<p>Suscribete ahora para recibir noticias y ofertas</p>
						<input type="email" class="form-control input-sm " placeholder="ejemplo@dominio.com">
						<button type="submit" class="btn btn-primary btn-xs">Suscribirse</button>
					</div>
				</div>
			</footer>
		</div>
	</div>';
?>